.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.error-message {
    margin-bottom: 20px; /* Adjust spacing as needed */
    font-size: 80px;
}

.img-hottel {
    max-width: 250px; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}
